@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

header {
  background-color: rgba(39, 39, 39, 1);
  text-align: center;
  color: white;
  display: block;
  font-family: 'Work Sans';
  padding: 20px;
  font-size: 25px

}
body {
  margin: 0;
  background-color: rgba(17, 17, 17, 1);

}
/*Lager en block rundt listen*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
  font-family:'work Sans'
}

/* displayer blocken jeg lagde oppe og lager luft mellom ordene og endrer farge på tekst */
li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* bytter link navn når man har musepekeren over */
li a:hover {
  background-color: white;
  color: white;
}

li a:hover:not(.active) {
  background-color: rgba(39, 39, 39, 1);
  color: white;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  left: 5px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 8px 6px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}